.dataContainer {
  border-radius: 1.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 2rem;
  background-color: white;
}

.dataContainer hr {
  border: 0;
  height: 1px;
  background-color: #e6e8f0;
}

.dataContainer header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.dataContainer header p {
  font-weight: 600;
  font-size: 1.125rem;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

.data li {
  margin: 2rem;
}

.dataType {
  font-size: 0.875rem;
  font-weight: 300;
}
