.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.rightContainer {
  background-color: white;
  border: 1px solid #e9eaeb;
  margin: 1.5rem;
  border-radius: 0.5rem;
  width: 90%;
  min-height: 37.5rem;
}

.topContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-bottom: 2px solid #d5d7da;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.header header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  font-family: "Satoshi", sans-serif;
  font-size: 1.8rem;
}

.welcome {
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 768px) { 
  .welcome {
    font-size: 1.5rem;
  }
}
