.menuItem {
  display: flex;
  align-items: center; 
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  white-space: nowrap; 
}

.menuItem img {
  width: 24px; 
  height: 24px; 
  object-fit: contain; 
}

.menuItem a {
  all: unset;
  font-size: 1rem;
  text-decoration: none; 
}

.menuItem:hover {
  background-color: #F5F5F5;
}

.menuItem:hover.active {
  background-color: #1570ef;
}

.active {
  color: white;
  background-color: #1570ef;
}

@media (max-width: 768px) {
  .menuItem {
    flex-direction: column; 
    align-items: flex-start; 
    gap: 0.5rem; 
    white-space: normal;
  }

  .menuItem img {
    width: 20px; 
    height: 20px;
  }

  .menuItem a {
    font-size: 0.9rem; 
  }
}
